parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    paths:
        - ./src
        - ./tests
    excludePaths:
        - */tests/fixtures/*
        - */tests/*/fixtures/*
    ignoreErrors:
        -
            message: '#Constant .+ is unused#'
            path: src/interfaces/provider/ErrorCode.php
